<style type="text/css">
	* {
		margin: 0;
		padding:  0;
		box-sizing: border-box;
	}
	.lebar-halaman{
		display: grid;
		grid-template-columns: auto auto auto;
		width: {{  $panjang * 3 }}mm; 
		align-items: center;
		justify-content: center;
		text-align: center;
		vertical-align: middle;
		grid-gap: 2mm;
	}	
	.label{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		width: {{ $panjang }}mm;
		height:  {{ $lebar }}mm;
		/*border-style: dotted;*/
		/*background-color: rgba(255, 255, 255, 0.8);*/
		/*border: 1px solid rgba(0, 0, 0, 0.8);*/
		/*display: flex;*/
	}

	.nama{
		font-size: 10px;
	}
	.kode{
		font-size: 8px;
	}
	.harga{
		font-size: 10px;
	}
	.barcode{
		width: 20mm;
	}
</style>
